
@{
    ViewData["Title"] = "Index";
}

    <div>
        <h1>@ViewData["Text"]</h1>
        <h2> Список</h2>
        <ol type="A">           
            @for (int i = 1; i < 5; i++)
            {
              <li>элемент @i списка</li>
            }
        </ol>       
    </div>
    <hr />
    <form name="mainform">
        <h2>Форма</h2>
        <select asp-items="@ViewData["Lst"] as SelectList"></select>
        <fieldset class="form-group">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check_first">
                        <label class="form-check-label" for="check_first">
                            Чек-бокс 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check_second">
                        <label class="form-check-label" for="check_second">
                            Чек-бокс 2
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio1" name="_radio" value="option1" checked>
                        <label class="form-check-label" for="radio1">Радио - 1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio2" name="_radio" value="option2">
                        <label class="form-check-label" for="radio2">Радио - 2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio3" name="_radio" value="option3">
                        <label class="form-check-label" for="radio3">Радио - 3</label>
                    </div>
                </div>
            </div>
        </fieldset>
         @*форма отправка данных пользователя*@
        <div class="form-group row">
            <label for="inputLog" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLog" placeholder="Логин">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
            </div>
        </div>
        <button class="btn btn-info" type="submit" form="mainform" value="Submit">Отправить</button>
    </form>



